/*Modification images de texte*/
.title_bloc2 {
    font-size: 22px;
    line-height: 25px;
}

.txt_bloc2 {
    font-size: 20px;
    line-height: 22px;
}

.txt_italic {
    font-style: italic;
}

.txt_bloc4 {
    font-size: 22px;
    line-height: 25px;
}

/*Modifications du footer*/
.bcg_color {
    background-color: #b45c33!important;
}

.white {
    color: white!important;
}

.footer_title {
    color: black!important;
    margin-bottom: 20px;
}

.footer_partner {
    width: 99%!important;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 40px;
}

.footer_ul {
    list-style-type: none;
    width: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0;
}

.footer_li{
    color: black!important;
}

.footer_li a{
    color: black!important;
}

.text_size_bigger {
    font-size: 14px;
}

.social span{
    color: black!important;
}

/*Modifications navbar contact*/
.nav {
    list-style-type: none;
    padding: 0;
}

.nav a {
    margin-right: 100px;
    text-decoration: none;
}

/*Modifications body contact*/
.contact_body {
    display: flex;
}
.form_contact {
    width: 70%;
    margin: 0;
    margin-left: 15%;
}

.form_part {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

.contact_info {
    margin-left: 10%;
    width: 30%;
}

.contact_info p {
    line-height: 20px;
    color: black!important;
}

.btn_contact {
    width:  100%;
    background-color: #b45c33!important;
}

.footer_contact {
    max-width: none;
}

/*Modifications mobiles*/
@media (max-width: 768px) {
   .social {
       display: flex;
       justify-content: space-between;
   } 
}

@media (max-width: 425px) {
    .footer_ul {
        flex-direction: column;
    }
    .bar {
        display: none;
    }
    .footer_li {
        margin-bottom: 15px;
    }
}

@media (min-width: 900px) {
    .nav {
        position: absolute;
        right: 150px
    }
}
@media (min-width: 768px) {
    .nav {
        position: absolute;
        bottom: -50px;
    }
}

@media (max-width: 1075px) {
    .contact_body {
        flex-direction: column;
        margin-left: 0;
    }
    .form_contact {
    margin-left: 10%;
    }
    .contact_info {
        margin-top: 50px;
    }
    .text_size_bigger {
        text-align: center ;
    }

    .info_info {
        width: 300px;
        margin: 0;
        padding: 0;
        text-align: left;
    }
}